<div class="project item col-md-6 col-xl-4 product" style="position: absolute; left: 33.3333%; top: 0px;">
    <figure class="lift rounded">
        <a href="/storage/ErpHwvdoDYbpE7PBvbCJghrKAOw7lxsUkSXiZong.jpg" data-glightbox="description: Sunrise Pantai Sari Goang, TWA Gunung Tunak, Desa Mertak" data-gallery="g1">
            <img src="/storage/ErpHwvdoDYbpE7PBvbCJghrKAOw7lxsUkSXiZong.jpg" alt="Sunrise Pantai Sari Goang, TWA Gunung Tunak, Desa Mertak" style="max-height: 500px; object-fit: cover;">
        </a>
    </figure>
    
</div>